# pandas Challenge

## Serena Gestring - 1/25/25

### Import pandas and Create New DataFrame

In [1]:
import pandas as pd

This first DataFrame is a dictionary of lists. The first list (variable a) contains abbreviated days of the week; the second list (variable b) contains number values representing degrees of temperature; and the third list (variable c) contains number values representing percentages of humidity. I put these lists into a dictionary so that the DataFrame would present the days of the week and the associated temperature and humidity for each day.

In [2]:
a = ['Mon.', 'Tues.', 'Wed.']
b = [60, 66, 63]
c = [67, 55, 51]
my_df = pd.DataFrame({'Weekday': a, 'Temp (°)': b, 'Humidity (%)': c})

### View Head of DataFrame

Because the DataFrame only contains 3 rows (per assignment instructions), viewing the head with no additional parameters is the same as just viewing the entire DataFrame.

In [3]:
my_df.head()

  Weekday  Temp (°)  Humidity (%)
0    Mon.        60            67
1   Tues.        66            55
2    Wed.        63            51

However, I can add a parameter to view only the first two rows of the DataFrame.

In [4]:
my_df.head(2)

  Weekday  Temp (°)  Humidity (%)
0    Mon.        60            67
1   Tues.        66            55

### View Index of DataFrame

In [5]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

### View Only the First Column

The code below displays only the data stored in the first column of the DataFrame (the days of the week).

In [6]:
my_df['Weekday']

0     Mon.
1    Tues.
2     Wed.
Name: Weekday, dtype: object

### View Only the First Row

The code below displays only the data stored in the first row of the DataFrame (the weekday and its associated temperature and humidity).

In [7]:
my_df.loc[0]

Weekday         Mon.
Temp (°)          60
Humidity (%)      67
Name: 0, dtype: object

### DataFrame with New Object Type

Because the first DataFrame used a dictionary of lists, for this new DataFrame I will use a list of dictionaries to display the same data.

In [8]:
r = {'Weekday': 'Mon.', 'Temp (°)': 60, 'Humidity(%)': 67}
s = {'Weekday': 'Tues.', 'Temp (°)': 66, 'Humidity(%)': 55}
t = {'Weekday': 'Wed.', 'Temp (°)': 63, 'Humidity(%)': 51}
my_df2 = pd.DataFrame([r, s, t])

In [9]:
my_df2

  Weekday  Temp (°)  Humidity(%)
0    Mon.        60           67
1   Tues.        66           55
2    Wed.        63           51

### Export DataFrame into CVS File

In [16]:
my_df.to_csv("pandas_challenge.csv")

I can double check this worked by asking to have the CVS file read back to me:

In [17]:
pd.read_csv("pandas_challenge.csv")

   Unnamed: 0 Weekday  Temp (°)  Humidity (%)
0           0    Mon.        60            67
1           1   Tues.        66            55
2           2    Wed.        63            51

I can also look in my computer's file explorer to ensure the new CVS file is saved in the correct folder for this class. Per assignment instructions, I have also uploaded this CVS file to my GitHub repository for this course.

### Content Questions

1. The “write/render/evaluate” loop allows creators to quickly experiment different ways to visualize their data, as well as quickly refine their visualizations based on feedback (Murray, 2017, p. 2). This is especially important for interactive data visualizations, since those are generally more complex than static visualizations because they have moving pieces that can function in different ways. Being able to quickly experiment and find the best way for an interactive part of a visualization to function is very helpful to the process.

2. Interactive data visualizations are useful for communicating data for several reasons. They allow audiences to engage with the data in different ways and explore the data from different perspectives, similar to playing a game (Murray, 2017, pp. 2-3). Additionally, interactive visualizations that initially provide an overview of the data while also providing a variety of tools that display more detailed information allows for one visualization to address and fulfill the needs of different audiences, as multiple people could view the same data for different reasons (Murray, 2017, p. 3).

3. I did have to look up what proprietary software means and how it contrasts open-source software, and so based on my newfound understanding, I do agree with Murray’s claim that open-source is best for publishing data visualizations. It sounds like proprietary software can limit what users are able to do with that software and the things they create with it, which to me means it would also limit potential users’ ability to access data visualizations made with that kind of software. And so the claim that open-source allows for greater access and therefore a greater audience and impact makes sense to me (Murray, 2017, p. 3). Also, open-source tools allow viewers to inspect the source code, which means a viewer can inspect the code to see how it works, which is a great learning opportunity. I believe it would also mean a viewer could discover if someone was being manipulative with their data visualization and trying to misinform the audience (I am not sure if it is a stretch to say that or not). With all that considered, yes I agree with Murray’s claim. (Note: I wrote this response before our class discussion on 1/23/25. After our discussion, I feel even more confident in my agreement.)

#### Works Cited
Murray, S. (2017). Introduction. *Interactive Data Visualization for the Web: An Introduction to Designing with D3* (3rd ed., pp. 1-4). O’Reily.